<div class="background">
    {{#if media.isMobile}}
        <img src="{{content.endpoint}}images/grow-mobile.jpg">
    {{else}}
        <img src="{{content.endpoint}}images/grow-desktop.jpg">
    {{/if}}
</div>

<div class="container">

    <div class="content">

        <h2>{{{model.title}}}</h2>
        <div class="bar"><img src="assets/images/bar.svg"></div>
        <button {{action 'services'}}>{{model.button}}</button>

    </div>

</div>
